

/*
    =============================
    CSS RESET
    =============================
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ========================================
    GRID
    ========================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

/*
    ================
    TYPOGRAPHY
    ================
*/
$textcolor:#222;
$bg-color : #fff;

body, input, button {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: $textcolor;
}

body {
    background-color:$bg-color;
    height: 100%;
    width: 100%;
}

/*
    =============================
    BODY STYLE
    =============================
*/

.top-right-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    font-family: Roboto, Arial, sans-serif;

}

.top-right-nav li{
    padding-right: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 14px;
}

.top-right-nav a {
    color: $textcolor;
    text-decoration: none;
}
.top-right-nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*
    ================================
    MAIN LOGO STYLE
    ================================
*/
#logo {
    display: flex;
    justify-content: center;
}

#logo img{  
    width: 272px;
}

/*
    =================================
    FORM STYLE
    =================================
*/
#body-form{
    padding: 20px;
}

#body-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-text-field {
    border: solid .25px #d3d3d3;
    border-radius: 30px;
    padding: 5px 8px 0 14px;
    display: flex;
    align-items: center;
}

.form-text-field:hover{
    box-shadow: 1px 1px 10px #d3d3d3;
}

.form-text-field:active {
    box-shadow: 1px 1px 10px #d3d3d3;
}

.form-text-field input{
    height: 37px;
    width: 487px;
    border: none;
}

.form-text-field input:focus {
    outline: none;
}

#search-icon {
    height: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
#mic-icon{
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

/*
    ===============================
    FORM SUBMIT BUTTONS
    ===============================
*/

.form-submit-buttons {
    padding-top: 18px;
    width: 584px;
    display: flex;
    justify-content: center;
}

.form-submit-buttons input{
    padding: 10px 16px;
    margin: 11px 6px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
}

.form-submit-buttons input:hover{
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #dadce0;
    cursor: pointer;
}

.form-submit-buttons input:focus{
    border-radius: 3px;
    box-shadow: 0 0 0 1px #4d90fe;
    outline: none;
}

/*
    ===============================
    FOOTER
    ===============================
*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #70757A;
    background-color: #f2f2f2;
}

#country {
    padding: 15px 30px;
    border-bottom: 1px solid  #dadce0;
}

#footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.footer-a a{
    text-decoration: none;
    padding: 15px;
    color: #70757A
}

.footer-a a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* google images styles*/
/*
    ==========================
    Google Images Search logo
    ==========================
*/

#search-logo {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0 auto;
}

#search-logo img{  
    width: 272px;  
}

.logo-subtext{
    color: #4285f4;
    right: 55px;
    position: relative;
    font-size: 16px;
    height: 16px;
    top: 74px;
}

/*
    ============================
     Google Images Search form
    ============================
*/
#search-button{
    height: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

/*
    ======================
    Image search button
    ======================
*/
.gi-search button {
    border: none;
    background: transparent;
}

.gi-search button:hover{
    cursor: pointer;
}

.gi-search button:focus {
    outline: none;
    border: none;
    background: transparent;
}


/*
    ======================
     Google Images Search footer
    ======================
*/

#img-search-country {
    padding: 15px 30px;
    border-bottom: 1px solid  #dadce0;
    border-top: 1px solid  #dadce0;
}

.gi-search input{
    width: 387px;
}

/* Google Advance Style */
/*
    ==================================
    adv HEADER
    ==================================
*/

#adv-search-logo {
    padding: 0 20px 0 15px;
    height: 60px;
    display: flex;
    align-self: center;
}

#adv-search-logo:hover{
    cursor: pointer;
}

#adv-search-logo img{
    width: 92px;
}

#adv-search-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
}

.adv-search-nav{
    padding-right: 20px;
}

.adv-search-h1{
    font-size: 20px;
    color: #D93025;
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 35px;
    border-bottom: 1px solid  #dadce0;
}

/*
    ===========================
    adv main section style
    ===========================
*/

.adv-form-top .main-form-f2 {
    font-size: 16px;
}

.adv-form-top .main-form-f4 {
    font-weight: bold;
    font-size: 13px;
}

.adv-search-main{
    margin-left: 25px;
    margin-top: 30px;
}

.adv-search-nav a{
    text-decoration: none;
    color: #222;
}

.adv-search-nav a:hover{
    text-decoration: underline;
}

.main-form-f1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.main-form-f2{
    width: 182px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #222;
}

.main-form-f3{
    width: 570px;
}

.main-form-f3 input{
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.main-form-f3 input:focus{
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    border: 1px solid #4d90fe;
    outline: none;
}

.main-form-f4 {
    font-size: 11px;
    font-family: Arial, sans-serif;
    color: #555555;
    margin: 0 0 8px 11px;
}

.main-form-f4 span {
    font-family: monospace;
}

.form-conjucture {
    width: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-range-input1 {
    display: flex;
    flex-direction: row;
}

.form-range-input2 input {
    width: 261px;
}

#adv-form-submit{
    width: 570px;
    display: flex;
    justify-content: flex-end;
}

#adv-form-submit input{
    height: 30px;
    width: 120px;
    background-color: #4d90fe;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    padding: 0 12px;
}

#adv-form-submit input:hover{
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
}

#adv-form-submit input:focus{
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
    background: #357ae8;
    outline: none;
}



/*
    ==================================
    RESPONSIVENESS
    ==================================
*/

@media screen and (max-width:769px){
    .top-right-nav li{
        font-size:11px;
    }

    #logo {
        margin-top: 30px;
    }

    #logo img{
        width: 200px;
    }

    .form-text-field input{
        width: 380px;
        height: 27px;
    }

    #search-icon{
        height: 12px;
    }
    #mic-icon {
        height: 17px;
    }
    .form-submit-buttons input{
        font-size: 12px;
    }
    #country{
        font-size: 11px;
    }
    .footer-a a{
        font-size: 11px;
    }
}


@media screen and (max-width:625px){

    .top-right-nav li{
        font-size:14px;
    }

    .form-text-field input{
        width: 20px;
        height: 30px;
    }
    
    #footer-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer-a{
        display: flex;
        justify-content: center;
    }
    #country{
        font-size: 14px;
    }
    .footer-a a{
        font-size: 14px;
    }
}
