/*
    =============================
    CSS RESET
    =============================
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
    ========================================
    GRID
    ========================================
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto; }

/*
    ================
    TYPOGRAPHY
    ================
*/
body, input, button {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #222; }

body {
  background-color: #fff;
  height: 100%;
  width: 100%; }

/*
    =============================
    BODY STYLE
    =============================
*/
.top-right-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
  font-family: Roboto, Arial, sans-serif; }

.top-right-nav li {
  padding-right: 15px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 14px; }

.top-right-nav a {
  color: #222;
  text-decoration: none; }

.top-right-nav a:hover {
  text-decoration: underline; }

/*
    ================================
    MAIN LOGO STYLE
    ================================
*/
#logo {
  display: flex;
  justify-content: center; }

#logo img {
  width: 272px; }

/*
    =================================
    FORM STYLE
    =================================
*/
#body-form {
  padding: 20px; }

#body-form form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.form-text-field {
  border: solid .25px #d3d3d3;
  border-radius: 30px;
  padding: 5px 8px 0 14px;
  display: flex;
  align-items: center; }

.form-text-field:hover {
  box-shadow: 1px 1px 10px #d3d3d3; }

.form-text-field:active {
  box-shadow: 1px 1px 10px #d3d3d3; }

.form-text-field input {
  height: 37px;
  width: 487px;
  border: none; }

.form-text-field input:focus {
  outline: none; }

#search-icon {
  height: 15px;
  padding-left: 5px;
  padding-right: 5px; }

#mic-icon {
  height: 20px;
  padding-left: 5px;
  padding-right: 5px; }

/*
    ===============================
    FORM SUBMIT BUTTONS
    ===============================
*/
.form-submit-buttons {
  padding-top: 18px;
  width: 584px;
  display: flex;
  justify-content: center; }

.form-submit-buttons input {
  padding: 12px 16px;
  margin: 11px 6px;
  background-color: #f8f9fa;
  border: none;
  border-radius: 5px; }

.form-submit-buttons input:hover {
  border-radius: 3px;
  box-shadow: 0 0 1px 1px #dadce0; }

.form-submit-buttons input:focus {
  border-radius: 3px;
  box-shadow: 0 0 0 0.5px #4d90fe;
  outline: none; }

/*
    ===============================
    FOOTER
    ===============================
*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #70757A;
  background-color: #f2f2f2; }

#country {
  padding: 15px 30px;
  border-bottom: 1px solid  #dadce0; }

#footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px; }

.footer-a a {
  text-decoration: none;
  padding: 15px;
  color: #70757A; }

.footer-a a:hover {
  text-decoration: underline; }

/* google images styles*/
/*
    ==========================
    Google Images Search logo
    ==========================
*/
#search-logo {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: 0 auto; }

#search-logo img {
  width: 272px; }

.logo-subtext {
  color: #4285f4;
  right: 55px;
  position: relative;
  font-size: 16px;
  height: 16px;
  top: 74px; }

/*
    ============================
     Google Images Search form
    ============================
*/
#search-button {
  height: 24px;
  padding-left: 15px;
  padding-right: 15px; }

/*
    ======================
     Google Images Search footer
    ======================
*/
#img-search-country {
  padding: 15px 30px;
  border-bottom: 1px solid  #dadce0;
  border-top: 1px solid  #dadce0; }

.gi-search input {
  width: 387px; }

/*# sourceMappingURL=main.css.map */
